.add-to-cart{
    &__title{
        margin: 0;
        padding: 0;
        padding-left: 55px;
        padding-right: 55px;
        margin-bottom: 20px;

        font-size: 25px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &__text{
        margin: 0;
        padding: 0;
        margin-bottom: 27px;

        font-size: 15px;
        line-height: 30px;
        text-align: center;
    }
    &__list{
        margin: 0;
        padding: 0;
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;

        list-style: none;
    }
    &__label{
        display: block;
        box-sizing: border-box;
        width: 82px;
        border: 2px solid #ececec;
        padding: 17px 0;

        font-size: 17px;
        line-height: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

    }
    &__size-button:checked+&__label{
        border-color: #63d1bb;
    }
    box-sizing: border-box;
    width: 320px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    border: 1px solid #c7c7c7;

    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
}

@media(min-width: $tablet-width){
    .add-to-cart{
        &__title{
            padding: 0;
            margin-bottom: 10px;
            font-size: 30px;
            line-height: 57px;
            font-weight: 700;
        }
        &__text{
            font-size: 17px;
            margin-bottom: 23px;
        }
        &__label{
            width: 112px;
        }
        width: 566px;
        padding-left: 105px;
        padding-top: 50px;
        padding-right: 105px;
        padding-bottom: 46px;
    }
}