.footer{
    &__logo{
        display: none;
    }
    &__logo-image[href]:hover{
        fill: #46c1ae;
    }
    &__logo-image[href]:active{
        opacity: 0.3;
    }
    &__copyright-developed{

        font-size: 19px;
        line-height: 18px;
        color: #000;
        margin-bottom: 6px;
    }
    &__copyright{
        margin: 0;
        padding:20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 182px;

    }
    &__copyright-link-image{
        fill: #63d1bb;
    }
    &__copyright-link-image:hover{
        fill: #46c1ae;
    }
    &__copyright-link-image:active{
        opacity: 0.3;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;


    background-color: #f1f1f1;
}

@media(min-width: $tablet-width){
    .footer{
        &__logo{
            display: block;
        }
        &__social{
            margin-left: 80px;
        }
        width: $tablet-width;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 31px 50px;
    }
}

@media(min-width: $desktop-width){
    .footer{
        width: $desktop-width;
        padding: 31px 100px;
    }
}