.modal{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;  
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color:rgba($color: #fff, $alpha: 0.9);

    display: none;
}

.modal--show{
	display: flex;
}