.production{
    &__title{
        &::before{
            content: '';
            position: absolute;
            left: -56px;
            top: 11px;

            width: 32px;
            height: 22px;

            background: url(../img/production/video-icon.png) no-repeat;
        }
        position: relative;
        margin: 0;
        padding: 0;
        margin-left: 89px;
        margin-top: 22px;
        margin-bottom: 24px;
    }
    &__video{
        max-width: none;
        margin-left: -1px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 260px;
        margin: 0 auto;
        padding-bottom: 32px;

        border: 1px solid #ececec;
    }
    &__text{
        padding: 10px 33px;
        font-size: 13px;
        line-height: 24px;
    }
    &__button{
        width: 191px;
        margin-left: 33px;
    }
    &__picture{
        &:hover::after{
            transform: translate(-50%,-50%) scale(1.2);
        }
        &:active::after{
            transform: translate(-50%,-50%) scale(1.2);
            opacity: 0.7;
        }
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

            width: 101px;
            height: 77px;

            background: url(../img/production/play.svg);
        }
        position: relative;
    }
    overflow: visible; 
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
}

@media(min-width: $tablet-width){
    .production{
        &__title{
            &::before{
                left: -64px;
                top: 1px;

            }
            margin-left: 105px;
            margin-top: 31px;
            margin-bottom: 7px;
            
            font-size: 20px;
            line-height: 24px;
        }
        &__button{
            width: 586px;
            margin-left: 41px;
        }
        &__text{
            padding: 10px 39px;

            font-size: 15px;
            line-height: 30px;
            padding-bottom: 19px;
        }
        &__picture{
            order: -1;
        }
        &__wrapper{
            width: 668px;
            padding-bottom: 44px;
        }
        &__video{
            width: 668px;
        }
        margin-bottom: 62px;
    }
}

@media(min-width: $desktop-width){
    .production{
        &__title{
            &::before{
                left: 0px;
                top: -48px;

            }
            margin-left: 40px;
            margin-top: 0px;
            margin-bottom: 9px;

            width: 170px;
        }
        &__wrapper{
            width: 1050px;
            height: 455px;
            padding-bottom: 44px;
            padding-top: 94px;
            padding-left: 720px;

            position: relative;
        }
        &__video{
            
            
            width: 682px;
        }
        &__picture{
            position: absolute;
            left: 0;
            top: -1px;
        }
        &__text{
            padding-bottom: 30px;
        }
        &__button{
            width: 230px;
        }
        margin-bottom: 105px;
    }
}