.site-list{
    &__item-link{
        &[href]:hover{
            color: rgba($color: #000000, $alpha: 0.6);
        }
        &[href]:active{
            opacity: 0.3;
        }
        display: block;
        padding:27px 75px;
        padding-right: 0;

        color: #000;

        border-bottom: 1px solid #ececec;
    }
    
}


@media(min-width: $tablet-width){
    .site-list{
        &__item-link{
            padding: 0;
            margin-right: 37px;

            border: 0;
        }
        font-size: 15px;
    }
}

@media(min-width: $desktop-width){
    .site-list{
        &__item-link{
            &--catalog{
                border-right: 1px solid #ececec;
            }
            display: block;

            padding:32px 35px ;
            padding-left: 0;

            
            font-size: 17px;
        }
    }
}